<div class="card border" id="pdfContent">
    <div>
        <div class="rectangle1"></div>
        <div class="billedTo">Billed To:</div>
        <div class="detailsTab">
            <div class="clientName">{{formData.name}}</div>
            <div class="address">{{formData.address}}</div>
        </div>
        <div class="header">Invoice</div>
        <div class="group1">

        </div>
        <div class="group1 group2">
            <table class="table table-borderless custom-table">
                <thead>
                    <tr>
                        <th scope="col" class="serviceHeader">Service</th>
                        <th scope="col"></th>
                        <th scope="col" class="Qty">Qty</th>
                        <th scope="col" class=Qty>Unit price</th>
                        <th scope="col" class="Qty">Total(Rs)</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of formData.services">
                    <tr>
                        <th scope="row" class="Qty">{{item.service}}</th>
                        <td></td>
                        <td class="Qty">{{item.qty}}</td>
                        <td class="Qty">{{item.price}}</td>
                        <td class="Qty">{{item.qty*item.price}}</td>
                    </tr>

                </tbody>
                <thead class="margin">
                    <tr>
                        <th scope="col" class="serviceHeader">Taxes</th>
                        <th scope="col" class="Qty"></th>
                        <th scope="col" class="Qty">Qty</th>
                        <th scope="col" class="Qty">Unit price(18%)</th>
                        <th scope="col" class="Qty">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="taxName">Tax names</th>
                        <td></td>
                        <td></td>
                        <td class="Qty">18%</td>
                        <td class="Qty">{{getGST()}}</td>
                    </tr>

                </tbody>

            </table>
        </div>
        <div class="frame2">
            <div class="invoiceNumber">
                <div class="invoice">Invoice No.</div>
                <div class="invoiceId">#T0623/0001</div>
            </div>
            <div class="dates">
                <div class="issuedDate">
                    <div>Issued on</div>
                    <div class="dateTab">{{formData.currentDate|date:'mediumDate'}}</div>
                </div>
                <div class="issuedDate">
                    <div>Payment Due</div>
                    <div class="dateTab">{{formData.date|date:'mediumDate'}}</div>
                </div>
            </div>
        </div>

        <div class="totalAmount">
            <div class="currency">
                <div class="totalWrap">Total</div>
                <div class="currencyTab">
                    <div class="bracketOpen">(</div>
                    <div>
                        <div class="usd">Rs</div>
                    </div>
                    <div class="bracketOpen">)</div>
                </div>
            </div>
            <div class="totalAmount1">{{getGrandTotal()}}</div>
        </div>
        <div class="company">
            <div class="logo">
                <div>
                    <img class="logoImage" style="width: 40px; height: 40px" src="/assets/Logo.png" />
                </div>
            </div>
            <div class="frame3">
                <div class="companyDetails">
                    <div class="companyNameLlc">Techriff Private Limited</div>
                    <div class="companyAddressInfo">AT-BADABALIKUDA PO-JANAKA BRAHMABARADA JAJAPUR OR 755005 IN</div>
                    <div class="companyEmail">info@techriff.com</div>
                    <div class="Id1">
                        <div class="panLabel">PAN</div>
                        <div class="panNumber">AAJCT4596J</div>
                    </div>
                    <div class="Id1">
                        <div class="panLabel">GSTIN</div>
                        <div class="panNumber">21AAJCT4596J1ZY</div>
                    </div>
                </div>
                <div class="paymentInstructions">
                    <div class="paymentInstructions1">Payment Instructions</div>
                    <div class="techriff">Techriff Private Limited</div>
                    <div class="accountDetails">
                        <div class="labelAccount">Account number</div>
                        <div>49450200000300</div>
                    </div>
                    <div class="IFSC">
                        <div>IFSC</div>
                        <div class="IFSCCode">BARB0GANKHO</div>
                    </div>
                </div>
                <div class="additionalNotes">
                    <div>Additional Notes</div>
                    <div class="greatDay">Have a great day</div>
                </div>
            </div>
        </div>
        <img class="Techriff" style="width: 44px; height: 10px; left: 30px; top: 25px; position: absolute"
            src="/assets/BottomLogo.png" />
        <img class="Techriff" style="width: 57px; height: 14px; left: 501px; top: 809px; position: absolute"
            src="/assets/BottomLogo.png" />
    </div>
</div>
<div class="text-center mt-2">
    <button class="btn btn-secondary" (click)="exportToPDF()">Export</button>
</div>