.font {
  font-family: Inter;
}

.card {
  width: 595px;
  border-radius: 22px;
  background: #FFF;
  margin: auto;
}

.rectangle1 {
  width: 575px;
  background: #F2F5F9;
  border-radius: 12px;
  margin: 10px;
}

.header {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 27px;
}

.tab1 {
  font-size: 13px;
  font-weight: 700;
  padding-left: 20px;
  padding-bottom: 20px;
}

.detailsTab {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.billedTo {
  color: #60737D;
  font-size: 12px;
  font-weight: 300;
  padding-top: 23px;
}

.clientName {
  font-size: 14px;
  font-weight: 700;
  width: 225px;
}

.address {
  width: 170px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div {
  display: flex;
}

.div1 {
  padding-top: 15px;
  padding-left: 220px;
  margin-bottom: 19px
}

.rect2 {
  margin-left: 30px;
  margin-top: 40px;
}

.column {
  float: left;
}

.service_qtyMargin {
  width: 30px;
}

.qty_priceMargin {
  width: 115px;
  margin-left: 15px;
}

.price_totalMargin {
  width: 115px;
  margin-left: 13px;
}

.serviceTitle {
  font-size: 13px;
  font-weight: 700;
}

.serviceNames {
  font-size: 11px;
  margin-top: 14px;
}

.leftTabFromQty {
  font-size: 10px;
  color: #60737D;
  font-weight: 400;
  text-align: right;
}

.tabBelowQty {
  margin-top: 14px;
  color: #60737D;
  font-weight: 400;
  font-size: 11px;
  text-align: right;
}

.leftTabFromQtyTaxes {
  font-size: 10px;
  color: #60737D;
  font-weight: 400;
  text-align: right;
}

.column {
  float: left;
}

.leftFloat {
  float: left;
}

.service_qtyMarginTaxes {
  margin-left: 229px;
}

.qty_priceMargin1 {
  margin-left: 63px;
}

.price_totalMargin2 {
  margin-left: 73px;
}

.fourThou {
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  margin-top: 14px;
}
.frame2 {
  width: 90px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 22px;
  display: inline-flex;
}

.invoiceNumber {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  gap: 4px;
}

.invoice {
  color: #60737D;
  font-size: 10px;
  font-weight: 400;
}

.invoiceId {
  color: #121722;
  font-size: 13px;
  font-weight: 700;
}

.dates {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 12px;
  display: flex;
}

.issuedDate {
  flex-direction: column;
  gap: 2px;
  display: flex;
  text-align: right;
  font-size: 10px;
  color: #60737D;
  font-weight: 400;
}
.totalAmount1 {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
}

.company {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
  margin-top: 40px;
  margin-left: 30px;
}

.logo {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.frame3 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
  margin-top: 12px;
}

.companyDetails {
  width: 225px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}

.companyNameLlc {
  font-size: 14px;
  font-weight: 700;
  width: 220px;
}

.companyAddressInfo {
  font-size: 7px;
  font-weight: 500;
  line-height: 10px;
  width: 120px;
}

.companyEmail {
  color: #334BC8;
  font-size: 10px;
}

.Id1 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  display: flex;
}

.panLabel {
  text-align: right;
  color: #60737D;
  font-size: 10px;
}

.panNumber {
  font-size: 10px;
}

.paymentInstructions {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  width: 240px;
  font-size: 10px;
}

.paymentInstructions1 {
  font-weight: 600;
}

.techriff {
  color: #60737D;
  font-weight: 700;
}

.accountDetails {
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  display: flex;
}

.labelAccount {
  color: #60737D;
  font-weight: 400;
}

.IFSC {
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  display: flex;
  color: #60737D;
}
.additionalNotes {
  flex: 1 1 0;
  flex-direction: column;
  display: inline-flex;
  gap: 8px;
  font-size: 10px;
  font-weight: 600;
}

.greatDay {
  color: #60737D;
  font-weight: 400;
}

.line-container {
  width: 575px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.line {
  border-top: 1px solid #F2F5F9;
  flex: 1;
  height: 0;
}

.box {
  display: flex;
  width: 243px;
  height: 40px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #F2F5F9;
}

.grandTotalSection {
  margin-top: 147px;
}