<div style="width: 100%">
      <div
            style="padding-left: 24px; padding-top: 20px;padding-bottom: 20px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
            <img src="../assets/Group 1 1.png" alt="" width="21.48px" height="21.48">
            <div style="width: 60px; font-weight: 700;font-size: 22px;">Invoice</div>
      </div>
      <div class="Line1" style="align-self: stretch; height: 0px; border: 0.50px #F4F6F7 solid"></div>

</div>
<router-outlet></router-outlet>